@model CommonViewModel

@{
    Layout = "_LayoutDashboard";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h3 class="uk-text-center"> Profile Overwiew</h3>
    <table class="uk-table uk-table-striped uk-table-small">
        <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th class="uk-text-right">Decription</th>
            <th class="uk-text-right">Price</th>
            <th class="uk-text-right">Category</th>
            <th> <a  asp-controller="Product" asp-action="Create" class="uk-button uk-button-default">Add</a> </th>

        </tr>
        </thead>
        <tbody>
        @foreach (var line in Model.Products)
        {
            <tr>
                <td>
                    <img src="@Url.Content(@line.ImageUrl)" alt="@line.Name">
                </td>
                <td>@line.Name</td>
                <td class="uk-text-right">@line.Description</td>
                <td class="uk-text-right">@line.Price</td>
                <td class="uk-text-right">@line.Category.CategoryName</td>
                <td>
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@line.ProductId"class="uk-button uk-button-default">Edit</a>
                    <a  asp-controller="Product" asp-action="Delete" asp-route-id="@line.ProductId"class="uk-button uk-button-default">Delete</a>
                </td>
                <td>
                </td>
            </tr>
        }
        <tfoot>
        </tfoot>
        </tbody>
    </table>
</div>
</body>
</html>