@model CommonViewModel

@{
    Layout = "_LayoutDashboard";
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <title></title>
</head>
<body>
<div>
    <h3 class="uk-text-center"> Profile Overwiew</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th class="uk-text-right">Decription</th>
            <th class="uk-text-right">Price</th>
            <th class="uk-text-right">Category</th>
            <th>
                <a asp-controller="Product" asp-action="Create" class="btn btn-ghost-primary">Add</a>
            </th>

        </tr>
        </thead>
        <tbody>
        @foreach (var line in Model.Products)
        {
            <tr>
                <td>
                    <img src="@Url.Content(line.ImageUrl)" alt="@line.Name" class="img-thumbnail" height="800" width="600">
                </td>
                <td>@line.Name</td>
                <td class="uk-text-right">@line.Description</td>
                <td class="uk-text-right">@line.Price</td>
                <td class="uk-text-right">@line.Category.CategoryName</td>
                <td>
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@line.ProductId" class="btn btn-ghost-secondary">Edit</a>
                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@line.ProductId" class="btn btn-ghost-danger">Delete</a>
                </td>
                <td>
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
        </tfoot>
        </table>
    
</div>
</body>
</html>