@model Product
<hr class="uk-divider-icon">
<h3 class="uk-text-center">@Model.Name</h3>
<div class="uk-flex uk-flex-center">
    <hr class="uk-divider-icon">
    <img src="@Url.Content(Model.ImageUrl)"  height="600" width="800"  alt="...">
    <p class="uk-margin uk-margin-left">@Model.Description</p>
  
</div>
<div class="uk-position-bottom-right ">
<a class="uk-button  uk-button-default"
         asp-controller="ShoppingCart"
         asp-action="AddToShoppingCart"
         asp-route-productId="@Model.ProductId">
          Add to Cart
      </a>    
</div>
  
<h3 class="uk-text-center">Properities</h3>
<div class="uk-list  uk-margin-left uk-list-divider">
    @for (var i = 0; i < Model.Properities.Count; i++)
    {
        <li>@Model.Properities[i]</li>
    }
</div>
